/* src/components/Home.css */
.home {
  background-color: #f6f3f7;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #333;
}

.home h2 {
  font-size: 1.3em;
  font-style: italic;
  text-align: left;
  margin-bottom: 10px;
  color: #a182cd;
}

.home h1 {
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  color: #a182cd;
}

.about, .how-it-works, .get-started {
  margin-bottom: 40px;
}

.about h2, .how-it-works h2, .get-started h2 {
  font-size: 1.2em;
  color: #a182cd;
  margin-bottom: 10px;
}

.about p {
  line-height: 1.6;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.feature {
  flex: 1 1 calc(50% - 10px);
  display: flex;
  align-items: flex-start;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.icon {
  font-size: 1.5em;
  color: #a182cd;
  margin-right: 10px;
  flex-shrink: 0;
}

.feature div {
  text-align: left;
  line-height: 1.5;
}

.get-started ol {
  list-style-position: inside;
  padding-left: 0;
}

.get-started li {
  margin-bottom: 10px;
}

 .select-button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #eee6ef;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-button:hover {
  background-color: #ddd;
}
